<div class="col-xs-13">
<%= simple_form_for @invoice ,:remote => true do |f| %>
  <div id="invoice-wrap">
    <%= f.error_notification %>
    <div class="row">
      <div class="col-xs-12">
        <p class="page-header">Invoices/New Invoice</p>
      </div><!-- /.col -->
    </div>

    <div class="row invoice-info">
      <div class="col-xs-4 invoice-col">
          <%= f.label :Customer_name %>
          <%= f.text_field :customer, class: "form-control", id: "1" %><br>
          <%= f.label :Customer_phone %>
          <%= f.text_field :phone_number, class: "form-control", id: "2" %><br>
          <%= f.label :Customer_email_id %>
          <%= f.text_field :email_id, class: "form-control", id: "2" %>
      </div>
      <div class="col-xs-4 invoice-col">
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-xs-4"><%= f.label :invoice_number %></div>
            <div class="col-xs-8 invoice_num"><%= f.text_field :invoice_number, :value => (Invoice.last.present? ? (Invoice.last.id + 1) : 1) ,class: "form-control", id: "4" %></div>
          </div><br>
          <div class="col-xs-12"></div>
          <div class="form-group">
            <div class="col-xs-4"><%= f.label :Invoice_date, required: false %></div>
            <div class="col-xs-8"><%= f.input_field :date, class: "form-control txtDate", as: :string, id: "invoice_date" %></div>
          </div>
        </form>
      </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="row">
      <div class="col-xs-10 table-responsive">
        <hr>
        <table class="table table-hover tableID" id="items">
        <thead>
        <td>Product</td>
        <td>Rate</td>
        <td>Quantity</td>
        <td>Amount</td>
        </thead>
        <tbody>
        <%= f.fields_for :products,:remote => true do |l| %>
        <td><%= collection_select(:invoice, :product_ids, Product.all, :id, :product_name,{prompt: '-------Select a Product-------'}, {:disabled => true,:id=>"selected_product_ids"} )%></td>
        <td><%= l.text_field :rate, class: "form-control", id: "subtotal_rate",disabled: true%><br><%= link_to "Change Price", @products, remote: true,class: "link" %></td>
        <td><%= l.text_field :quantity , class: "form-control", id: "subtotal_quantity"%></td>
        <td><%= l.text_field :total , class: "form-control", id: "subtotal_total"%></td>
        <td><%= button_tag "Remove", type:"button", :class => "remove_button"  %></td>
        
        <%end%>

      
        </tbody>
        </table>
        <table class="table table-hover table1" id="items">
        <thead>
        <td>Custom Item</td>
        <td>Rate</td>
        <td>Quantity</td>
        <td>Amount</td>
        </thead>
        <tbody>
         <%= f.fields_for :product do |l| %>
        <td><%= l.text_field :product_name , class: "form-control", id: "subtotal_custom_name"%> </td>
        <td><%= l.text_field :rate , class: "form-control", id: "subtotal_custom_rate"%></td>
        <td><%= l.text_field :quantity , class: "form-control", id: "subtotal_custom_quantity"%></td>
        <td><%= l.text_field :total , class: "form-control", id: "subtotal_custom_total"%></td>
        <td><%= button_tag "Remove",type:"button", :class => "delete-btn" %></td>
        <%end%>
        </tbody>
        </table>
        <table>
          <tbody class="product_list_table">
            <tr class="item-row"></tr>
            <tr id="hiderow">
              <td>
              <%= collection_select(:invoice, :product_ids, Product.all, :id, :product_name,{prompt: '-------Select a Product-------'}, {} )%></td><td>
              <%= button_tag "Add Products",type:"button", :class => "add_products" %>
              <%#= button_to "Add Product",action: "", type: "button" %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <br>
    <div class="col-xs-12 pull-left">
        <%= submit_tag "Create New Invoice",class: "btn btn-primary",data: { confirm: "Are you sure?" }%>
    </div>
  </div>
  <% end %>
</div>


