<div class="col-xs-13">
<%= simple_form_for(@invoice) do |f| %>
  <div id="invoice-wrap">
    <%= f.error_notification %>
    <div class="row">
      <div class="col-xs-12">
        <p class="page-header">Invoices/New Invoice</p>
      </div><!-- /.col -->
    </div>

    <div class="row invoice-info">
      <div class="col-xs-4 invoice-col">
          <%= f.label :Customer_name %>
          <%= f.text_field :customer, class: "form-control", id: "1" %><br>
          <%= f.label :Customer_phone %>
          <%= f.text_field :phone_number, class: "form-control", id: "2" %><br>
          <%= f.label :Customer_email_id %>
          <%= f.text_field :email_id, class: "form-control", id: "2" %>
      </div>
      <div class="col-xs-4 invoice-col">
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-xs-4"><%= f.label :invoice_number %></div>
            <div class="col-xs-8 invoice_num"><%= f.text_field :invoice_number, :value => (Invoice.last.present? ? (Invoice.last.id + 1) : 1) ,class: "form-control", id: "4" %></div>
          </div><br>
          <div class="col-xs-12"></div>
          <div class="form-group">
            <div class="col-xs-4"><%= f.label :Invoice_date, required: false %></div>
            <div class="col-xs-8"><%= f.input_field :date, class: "form-control txtDate", as: :string, id: "invoice_date" %></div>
          </div>
        </form>
      </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="row">
      <div class="col-xs-10 table-responsive">
        <hr>
        <table class="table table-hover" id="items">
          <tbody class="product_list_table">
            <tr class="item-row"></tr>
            <tr id="hiderow">
              <td colspan="6">
              <%= collection_select(:invoice, :product_ids, Product.all, :id, :product_name,{prompt: '-------Select a Product-------'}, {} )%>
              <a id="addrow" class="btn btn-success btn-xs" href="javascript:;" title="Add"><span class="ti-plus"></span>Add a product</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-xs-offset-6">
        <div class="table-responsive">
          <table style="width:50%" class="table table-hover" id="totals">
              <th><%= f.label :Subtotal %></th>
              <td><%= f.text_field :total , class: "form-control", id: "subtotal"%></td>
            </tr>
          </table>
        </div>
      </div>
    </div><br>
    <div class="col-xs-12 pull-left">
        <%= submit_tag "Create New Invoice",class: "btn btn-primary",data: { confirm: "Are you sure?" }%>
    </div>
  </div>
  <% end %>
</div>