

 <thead>
    <tr>
      <th>Date</th>
      <th>Invoice number</th>
      <th>Customer</th>
      <th>Products</th>
      <th>Total</th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.date %></td>
        <td><%= invoice.invoice_number %></td>
        <td><%= invoice.customer %></td>
        <td><%= invoice.products.map(&:product_name).join(",") rescue nil %></td>
        <td><%= invoice.total %></td>
      </tr>
    <% end %>
  </tbody>
</table>