<div class="col-xs-12">
<%= simple_form_for(@product) do |f| %>
  <div id="invoice-wrap">
    <%= f.error_notification %>
    <div class="row">
      <div class="col-xs-12">
        <p class="page-header">Invoices/New Invoice</p>
      </div><!-- /.col -->
    </div>

    <div class="row invoice-info">
      <div class="col-xs-4 invoice-col">
          <b>Product name</b>
          <%= f.text_field :product_name, class: "form-control", id: "1" %><br>
          <b>Rate</b>
          <%= f.text_field :rate, class: "form-control", id: "2" %>
      </div>
    </div><br>

    <div class="row">
      <div class="col-xs-12 pull-left">
        <%= submit_tag "Create new product",class: "btn btn-primary",data: { confirm: "Are you sure?"} %>
      </div>
    </div>
  </div>
  <% end %>
</div>